Repository firedrakeproject/firedrake, pull requests merged in 2025-03, with the labels that each got.

#4111 install: add -download-mumps-avoid-mpi-in-place to PETSc configure op…
  scripts/firedrake-configure
Labels: macOS

#4128 Raise an error if `bounds` are passed to a variational solver while annotations are active.
  firedrake/adjoint_utils/variational_solver.py
Labels: bug, firedrake-adjoint

#4130 adjoint variational solver should get solver parameters from the variational solver not the `solver_parameters` kwarg
  firedrake/adjoint_utils/variational_solver.py
Labels: bug, firedrake-adjoint

#4126 Tape subfunctions that were created before annotating begins
  firedrake/adjoint_utils/function.py
  tests/firedrake/adjoint/test_split_and_subfunctions.py
Labels: bug, firedrake-adjoint

#4119 Use the `skipslepc` pytest mark on more tests
  tests/firedrake/adjoint/test_optimisation.py
  tests/firedrake/conftest.py
  tests/firedrake/demos/test_demos_run.py
  tests/firedrake/demos/test_notebooks_run.py
  tests/firedrake/regression/test_moore_spence.py
  tests/firedrake/regression/test_slepc.py
Labels: testing

#4137 Switch to using upstream PETSc and SLEPc instead of our fork
  .github/workflows/build-mac.yml
  .github/workflows/build.yml
  docker/Dockerfile.vanilla
  docs/source/install.rst
  pyproject.toml
  scripts/firedrake-configure
Labels: macOS
